html, body
{
    background-color: #f7f7f7;
      color: #000;
      letter-spacing: 0.5px;
      font-family: "Source Sans Pro", Arial, sans-serif;
      min-height: 100vh;
      margin: 0;
}

/*html{*/
  /*height:100%;*/
/*}*/
/*body{*/
  /*position:relative;*/
  /*min-height:100%;*/
/*}*/

#__nuxt{
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding-bottom:360px;
  min-width:1200px;
}

#__layout>div>section{
  min-width:1200px;
}

/*a, a:hover, a:focus, a:visited*/
/*{*/
  /*color: #000;*/
/*}*/
a{
  text-decoration:none;
  color:#000;

}
a:hover{
  color:rgb(0, 0, 238);
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}
ul{
  padding:0;
  margin:0;
}
li{
  list-style: none;
}
p{
  margin:15px 0;
}
